# Local env vars
.env

# NPM deps
node_modules

# Container storage
/docker/data

# Local taskfile
/Taskfile.yml
/Taskfile.yaml

mise.local.toml

# AI
.serena
CLAUDE.local.md

# Go
go.work.sum

# Tests
*.test
coverage.out

# Logs
*.log
dump

*.pem

token
jwt
*.db
*.db-shm
*.db-wal

# Air
tmp

# build output
build/
/cmd/*/data
/docker/*/data
/slackbot

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
